/* Adding Custom Font */
@font-face {
  font-family: myFirstFont;
  src: url("../assets/fonts/porkys.regular.ttf");
}

body {
  /* background-image: url("../assets/background/background.jpg"); */
  background-color: lightskyblue;
  color: white;
  font-family: myFirstFont;
}

/* This below is for Title  */
.title {
  margin: auto;
  text-align: center;
}

.title h1 {
  font-size: 4rem;
}

span.jumpshake {
  text-shadow: 2px 2px 5px black;
}

/* This is for board container */
.board-conatiner{
  margin: 1rem 2rem;
}

/* For Reset Button */
.reset{
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-button {
  margin: 1rem 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}

.footer {
  margin: 1rem 2rem;
  text-align: center;
  color: rgb(132, 30, 240);
}

/* For Player Turn */
.player-turn {
  margin: 1rem 2rem;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}