/* Adding Custom Font */
@font-face {
  font-family: myFirstFont;
  src: url("../assets/fonts/porkys.regular.ttf");
}

body {
  /* background-image: url("../assets/background/background.jpg"); */
  background-color: lightskyblue;
  color: white;
  font-family: myFirstFont;
}

/* This below is for Title  */
.title {
  margin: auto;
  text-align: center;
}

.title h1 {
  font-size: 4rem;
}

span.jumpshake {
  text-shadow: 2px 2px 5px black;
}

/* This is for board container */
.board-conatiner{
  margin: 1rem 2rem;
}